<div class="calculator">
  <div class="value"><span>{{value}}</span></div>
  <div class="buttons">
    <button (click)="clear()" class="clear">AC</button>
    <button (click)="negate()" class="negate">+/-</button>
    <button (click)="operand('/')" class="operand divide">&divide;</button>
    <button (click)="operand('^')" class="operand sqr">&Sqrt;</button>
    <button (click)="pressNumber('7')" class="number seven">7</button>
    <button (click)="pressNumber('8')" class="number eight">8</button>
    <button (click)="pressNumber('9')" class="number nine">9</button>
    <button (click)="operand('*')" class="operand multiply">&times;</button>
    <button (click)="pressNumber('4')" class="number four">4</button>
    <button (click)="pressNumber('5')" class="number five">5</button>
    <button (click)="pressNumber('6')" class="number six">6</button>
    <button (click)="operand('-')" class="operand sub">-</button>
    <button (click)="pressNumber('1')" class="number one">1</button>
    <button (click)="pressNumber('2')" class="number two">2</button>
    <button (click)="pressNumber('3')" class="number three">3</button>
    <button (click)="operand('+')" class="operand plus">+</button>
    <button (click)="pressNumber('0')" class="number zero">0</button>
    <button (click)="decimal()" class="decimal">.</button>
    <button (click)="operand('=')" class="operand output">=</button>
  </div>
</div>